pipeline/pipe_ckp.json
{
	"name": "pipe_ckp",
	"properties": {
		"activities": [
			{
				"name": "db_cliente",
				"description": "",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select *\nfrom dburger.db_cliente cli;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_cliente"
						}
					}
				]
			},
			{
				"name": "db_cli_fisica",
				"description": "",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select *\nfrom dburger.db_cli_fisica;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_cli_fisica"
						}
					}
				]
			},
			{
				"name": "db_end_cli",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * \nfrom dburger.db_end_cli;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_end_cli"
						}
					}
				]
			},
			{
				"name": "db_logradouro",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select *\nfrom dburger.db_logradouro;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_logradouro"
						}
					}
				]
			},
			{
				"name": "db_bairro",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * \nfrom db_bairro;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_bairro"
						}
					}
				]
			},
			{
				"name": "db_cidade",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * \nfrom db_cidade;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_cidade"
						}
					}
				]
			},
			{
				"name": "db_estado",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * \nfrom db_estado;",
						"partitionOption": "None",
						"numberPrecision": 38,
						"numberScale": 18,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OracleTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "armazena_dados",
						"type": "DatasetReference",
						"parameters": {
							"nome_do_arquivo": "raw_db_estado"
						}
					}
				]
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "db_cliente",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "db_cli_fisica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_cp_rm554613",
						"type": "DataFlowReference",
						"datasetParameters": {
							"cliente": {
								"nome_do_arquivo": {
									"value": "@activity('db_cliente').output",
									"type": "Expression"
								}
							},
							"clifisica": {
								"nome_do_arquivo": {
									"value": "@activity('db_cli_fisica').output",
									"type": "Expression"
								}
							},
							"enderecocliente": {
								"nome_do_arquivo": {
									"value": "@activity('db_end_cli').output",
									"type": "Expression"
								}
							},
							"logradouro": {
								"nome_do_arquivo": {
									"value": "@activity('db_logradouro').output",
									"type": "Expression"
								}
							},
							"bairro": {
								"nome_do_arquivo": {
									"value": "@activity('db_bairro').output",
									"type": "Expression"
								}
							},
							"cidade": {
								"nome_do_arquivo": {
									"value": "@activity('db_cidade').output",
									"type": "Expression"
								}
							},
							"estado": {
								"nome_do_arquivo": {
									"value": "@activity('db_estado').output",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": []
	}
}